body {
    font-family: sans-serif;
}

header>nav>a.brand-logo, header>nav>a.brand-logo>i {
    margin: 0;
    padding: 0;
    line-height: 4rem;
    font-size: 2.5rem;
}

.pad-top {
    padding-top: 20px;
}

#publicar {
    padding: .5rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
}

#publicar div p {
    text-align: right;
    margin:0;
    font-size: .8rem;
}

#botonEnviar img {
    vertical-align: middle;
    margin-right: 5px;
}

article.card {
    padding: .5rem 1rem;
}
